
.MuiCardHeader-title {
    color: #595959 ;
    font-family: 'Rhodium Libre', serif!important;
    font-weight: 700 !important;

}.MuiCardHeader-subheader{
  color: #8d7979 ;
  font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
}.MuiAvatar-fallback {
  display: none !important;
}
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 5px;

}